@charset "UTF-8";

/*   DOCUMENTAÇÃO

*** FONTES
*** ROOT    = [VARIÁVEIS, ESTILOS GERAIS]
*** HEADER  = [.SEARCH, .ICONS, .PERFIL]
*** MAIN    = [.IMG-BANNER, .INFORMACOES, .BUTTONS]

*/


/*   FONTES   */
@font-face {
	font-family: RopaSans;
	src: url(../fonts/ropaSans/RopaSans-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Rambla;
    src: url(../fonts/Rambla/Rambla-Regular.ttf);
}


/*   ROOT   */
:root {

    /*VARIÁVEIS*/
    --cor-primaria: #FFF;
    --cor-secundaria: #F3F2EE;
    --cor-terciaria: #0B65C2;
    --cor-input-search: #EEF3F7;
    --cor-texto-primaria: #000;
    --cor-texto-secundaria: #666;

    /*ESTILOS GERAIS*/
    font-family: RopaSans, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--cor-secundaria);
}

/*   HEADER   */
header {
    font-size: .9rem;
    text-align: center;
    background-color: var(--cor-primaria);
    width: 100vw;
}
header .menu{
    max-width: 88vw; /*tamanho máximo: 843px*/
    height: 3.1875rem;
    margin: 0 4.8125rem;
}

/*   HEADER - .SEARCH   */
header .menu, .search, .icons nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .menu .search a img {
    width: 2.15rem;
    height: 2.15rem;
}
header .menu .search form {
    background-color: var(--cor-input-search);
    display: flex;
    align-items: center;
    margin-left: .5rem;
    border-radius: 4px;
}
header .menu .search form label {
    padding: 0 .3rem 0 .9rem;
}
header .menu .search form input {
    font-family: RopaSans;
    background-color: var(--cor-input-search);
    width: 12rem;
    height: 2.125rem;
    font-size: .875rem;
    border-radius: 4px;
}
header .menu .search form label img{
    width: .7875rem;
    height: .7875rem;
}

/*   HEADER - .ICONS   */
header .menu .icons ul li a .conteudo {
    color: var(--cor-texto-secundaria);
}
header .menu .icons ul li a img {
    width: 1.25rem;
    height: 1.25rem;
}
header .menu .icons nav ul li{
    padding: 0 1rem;
}

/*   HEADER - .PERFIL   */
header .menu .foto-perfil figure a {
    color: var(--cor-texto-secundaria);
}
header .menu .foto-perfil figure a img {
    width: 1.586875rem;
    height: 1.58687rem;
}

/*   MAIN   */
main .carreira {
    background-color: var(--cor-primaria);
    max-width: 88vw;
    border-radius: 10px;
    height: 20rem;
    margin: 2.375rem 4.8125rem 2rem;
}

/*   MAIN - .IMG-BANNER   */
main .carreira .img-banner img {
    max-width: 100%;
    width: 88vw;
    height: 8.4375rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
main .carreira .img-banner .perfil-genilson img{
    margin-left: 1.96125rem;
    transform: translateY(-75%);
    border: 4px solid var(--cor-primaria);
    box-shadow: 0 2px 5px rgb(139, 139, 139);
    border-radius: 50%;
    width: 6.665rem;
    height: 6.665rem;
    position: absolute;
    z-index: 2;
}

/*   MAIN - .INFORMACOES   */
main .carreira section.informacoes {
    font-family: Lato, Arial, Helvetica, sans-serif;
    margin-top: 2.6875rem;
    margin-left: 1.375rem;
}
main .carreira section.informacoes h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.4125rem;
}
main .carreira section.informacoes h2 {
    font-size: .95rem;
    font-weight: 400;
    margin-bottom: .7rem;
}
main .carreira section.informacoes p {
    font-size: .8rem;
}

/*   MAIN - BUTTONS*/
main .carreira .buttons {
    font-family: Rambla, Arial, Helvetica, sans-serif;
    margin-top: 11px;
    margin-left: 1.375rem;
    font-weight: 500;
}
main .carreira .buttons button#interesses{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    margin-right: 7px;
    padding: 4px 16px;
    border-radius: 15px;
    border: 1.5px solid var(--cor-terciaria);
}
main .carreira .buttons button#interesses:hover {
    background-color: #004e9c;
}

main .carreira .buttons button#sessao {
    padding: 4px 16px;
    margin-right: 7px;
    border-radius: 15px;
    border: 1.5px solid var(--cor-texto-secundaria);
}
main .carreira .buttons button#sessao:hover {
    border: 1.5px solid var(--cor-texto-primaria);
    background-color: rgb(207, 207, 207);
}

main .carreira .buttons button#mais {
    padding: 4px 16px;
    border-radius: 15px;
    border: 1.5px solid #666;
}
main .carreira .buttons button#mais:hover {
    border: 1.5px solid var(--cor-texto-primaria);
    background-color: rgb(207, 207, 207);
}